%li#advanced_fields
  = foldable_fieldset 'Advanced Options' do
    %div.fields_wrap
      %ol
        %li
          = f.label :slug, "Slug"
          = f.text_field :slug
        %li
          = f.label :full_path, "Full Path"
          = f.text_field :full_path
        %li
          = f.label :breadcrumb, "Breadcrumb"
          = f.text_field :breadcrumb
        %li
          = f.label :tag_list
          = f.text_field :tag_list
