= foldable_fieldset 'Advanced Options' do
  %ul.form_fields
    %li
      = f.label :render_tag
      = f.text_field :render_tag
    %li
      = f.label :slug, "Path Name"
      = f.text_field :slug
    %li
      = f.label :breadcrumb, "Breadcrumb"
      = f.text_field :breadcrumb
    %li
      = f.label :tags
      = f.text_field :tags
