= form_for([:admin, page]) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => page }
  %fieldset
    = f.label :parent_id
    = f.collection_select :parent_id, Page.all.order(:title), :id, :title, { :include_blank => true }
  %fieldset
    = f.label :title, "Title"
    = f.text_field :title, :placeholder => "Page title..."
  %fieldset
    = f.label :slug, "Path Name"
    = f.text_field :slug
  %fieldset
    = f.label :breadcrumb, "Breadcrumb"
    = f.text_field :breadcrumb
  %fieldset
  = f.fields_for :meta_data, hash_to_open_struct(@page.meta_data) do |os|
    - os.object.marshal_dump.each_key do |key|
      = os.label key
      = os.text_field key
  %fieldset
    = f.label :editors, "Editors"
    - User.all.each do |user|
      = check_box_tag "page[editor_ids][]", user.puid, page.editor_ids.include?(user.puid), :id => "editor_id_#{user.puid}"
      = label_tag "page[editor_ids][#{user.puid}]", user.puid.downcase
  %fieldset
    = f.label :layout, "Layout"
    = f.collection_select :layout_id, Layout.all, :id, :name
  = f.fields_for :current_state do |builder|
    %fieldset
      = builder.label :current_state, "Status"
      = builder.collection_select :name, CurrentState.all, :id, :name
  %fieldset 
    = f.label :post_container
    = f.check_box :post_container
  %fieldset
    = f.label :tag_list
    = f.text_field :tag_list
  = f.fields_for :page_parts do |builder|
    %fieldset
      = builder.label :name, "Page Part Name"
      = builder.text_field :name
      = builder.label :filter, "Filter"
      = builder.collection_select :filter, Filter.all, :id, :name
      = builder.label :content, "Page Part Content"
      = builder.text_area :content, :cols => "40", :rows => "12"
  %fieldset
    = f.submit button_label