= form_for([:admin, page]) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => page }
  %fieldset
    = f.label :parent_id
    = f.collection_select :parent_id, Page.all.order(:title), :id, :title, :include_blank => true
  = f.fields_for :page_type do |builder|
    %fieldset
      = builder.label :page_type, "Page Type"
      = builder.collection_select :id, PageType.all, :id, :name
  %fieldset
    = f.label :title, "Title"
    = f.text_field :title, :placeholder => "Page title..."
  %fieldset
    = f.label :slug, "Path Name"
    = f.text_field :slug
  %fieldset
    = f.label :breadcrumb, "Breadcrumb"
    = f.text_field :breadcrumb
  %fieldset
    = f.label :meta_title, "Meta-Title"
    = f.text_field :meta_title
  %fieldset
    = f.label :meta_keywords, "Meta-Keywords"
    = f.text_field :meta_keywords
  %fieldset
    = f.label :meta_description, "Meta-Description"
    = f.text_area :meta_description, :cols => "40", :rows => "12"
  %fieldset
    = f.label :editors, "Editors"
    - User.all.each do |user|
      = check_box_tag "page[editor_ids][]", user.puid, page.editor_ids.include?(user.puid), :id => "editor_id_#{user.puid}"
      = label_tag "page[editor_ids][#{user.puid}]", user.puid.downcase
  %fieldset
    = f.label :layout, "Layout"
    = f.collection_select :layout_id, Layout.all, :id, :name
  %fieldset
    = f.label :filter, "Filter"
    = f.collection_select :filter, Filter.all, :id, :name
  = f.fields_for :current_state do |builder|
    %fieldset
      = builder.label :current_state, "Status"
      = builder.collection_select :id, CurrentState.all, :id, :name
  %fieldset
    = f.label :tag_list
    = f.text_field :tag_list
  = f.fields_for :page_parts do |builder|
    %fieldset
      = builder.label :name, "Page Part Name"
      = builder.text_field :name
      = builder.label :content, "Page Part Content"
      = builder.text_area :content, :cols => "40", :rows => "12"
  %fieldset
    = f.submit button_label