= form_for([:admin, page]) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => page }
  %fieldset
    = f.label :title, "Title"
    = f.text_field :title, :placeholder => "Page title..."
  %fieldset
    = f.label :current_state, "Status"
    = f.collection_select :current_state, CurrentState.all, :id, :name
  %fieldset
    = f.label :layout, "Layout"
    = f.collection_select :layout, Layout.all, :id, :name
  %fieldset 
    = f.submit button_label