= form_for([:admin, page]) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => page }
  %fieldset
    = f.label :title, "Title"
    = f.text_field :title, :placeholder => "Page title..."
  %fieldset
    = f.label :layout, "Layout"
    = f.collection_select :layout_id, Layout.all, :id, :name
  %fieldset
    = f.label :filter, "Filter"
    = f.collection_select :filter, Filter.all, :id, :name
  = f.fields_for :current_state do |builder|
    %fieldset
      = builder.label :current_state, "Status"
      = builder.collection_select :id, CurrentState.all, :id, :name
  %fieldset
    =f.submit button_label