= form_for([:admin, @page], :html => { :id => page_form_id, :class => "site_prop", :autocomplete => :off }) do |f|
  %ol.form_fields

    = render :partial => "shared/error_messages", :locals => { :target => @page } 
    = hidden_field_tag :view, @selected_page_part.name
    = render :partial => "general", :locals => {:f => f}
    = render :partial => "advanced_options", :locals => {:f => f}
    = render :partial => "meta_tags", :locals => {:f => f}
    = render :partial => "editors", :locals => {:f => f, :page => @page}
    = render :partial => "page_parts", :locals => {:f => f}
    = render :partial => "form_submit", :locals => { :f => f, :button_label => button_label }
  
