= form_for([:admin, page]) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => page }
  %fieldset
    = f.label :title, "Title"
    = f.text_field :title, :placeholder => "Page title..."
  %fieldset
    = f.label :path_name, "Path Name"
    = f.text_field :path_name
  %fieldset
    = f.label :meta_title, "Meta-Title"
    = f.text_field :meta_title
  %fieldset
    = f.label :meta_keywords, "Meta-Keywords"
    = f.text_field :meta_keywords
  %fieldset
    = f.label :meta_description, "Meta-Description"
    = f.text_area :meta_description, :cols => "40", :rows => "12"
  %fieldset
    = f.label :editors, "Editors"
    - User.all.each do |user|
      = check_box_tag "page[editor_ids][]", user.puid, page.editor_ids.include?(user.puid), :id => "editor_id_#{user.puid}"
      = label_tag "page[editor_ids][#{user.puid}]", user.puid.downcase
  %fieldset
    = f.label :layout, "Layout"
    = f.collection_select :layout_id, Layout.all, :id, :name
  %fieldset
    = f.label :filter, "Filter"
    = f.collection_select :filter, Filter.all, :id, :name
  = f.fields_for :current_state do |builder|
    %fieldset
      = builder.label :current_state, "Status"
      = builder.collection_select :id, CurrentState.all, :id, :name
  %fieldset
    = f.submit button_label