%li#general_fields
  = foldable_fieldset 'General' do
    %div.fields_wrap
      %ol 
        %li.hidden
          = hidden_field_tag :view, @selected_page_part.name
        %li
          = f.label :parent_id
          = f.collection_select :parent_id, Page.all_from_current_site(@current_site).order(:title), :id, :title, { :include_blank => true, :selected => parent_selected(@parent_page) }
        %li
          = f.label :title, "Title<abbr title='required' class='required'>*</abbr>".html_safe
          = f.text_field :title
        %li{:class => "inline"}
          = f.label 'layout_id', "Layout<abbr title='required' class='required'>*</abbr>".html_safe
          = f.collection_select :layout_id, Layout.all_from_current_site(@current_site), :id, :name
        = f.fields_for :current_state do |builder|
          %li{:class => "inline"}
            = builder.label 'name', "Status<abbr title='required' class='required'>*</abbr>".html_safe
            = builder.collection_select :name, CurrentState.all, :id, :name
          %li
            = builder.hidden_field :id
