#page_meta_tags{:class => "foldable"}
  %fieldset
    %legend Page Meta Tags<span class="fold_arrow rotate"></span>
    %ul.form_fields
      = f.fields_for :meta_tags do |builder|
        %li{:id => "meta_tags_#{builder.object.name}", :class => 'meta_tag'}  
          = builder.label :content, "#{builder.object.name}"
          = builder.text_field :content
          = manage_meta_tag @page, builder.object
      %li#add_meta_tag
        - if @page.new_record?
          %p
            %i Save page first to add custom meta tags
        - else
          = link_to "Add Meta Tag", [:new, :admin, @page, :meta_tag], :remote => :true
