= foldable_fieldset 'Page Parts', :class => 'page_part' do
  %ul#page_parts_nav
    - @page.page_parts.each do |page_part|
      = page_part_selected(page_part)
    %li.add_page_part
      = add_page_part
      = delete_page_part
  
  %ul.form_fields.page_parts
    = f.fields_for(:page_parts, @selected_page_part) do |builder|
      %li 
        = builder.label :name, "Page Part Name<abbr title='required' class='required'>*</abbr>".html_safe
        = builder.text_field :name
      %li{:class => "inline"}
        = builder.label :filter_name, "Filter<abbr title='required' class='required'>*</abbr>".html_safe
        = builder.collection_select :filter_name, Filter.all_page_filters, :id, :name, {}, {:class => "page_part_filter"}
      %li.page_parts_content
        = builder.label :content, "Page Part Content<abbr title='required' class='required'>*</abbr>".html_safe 
        = builder.text_area :content, :class => "page_part_contents code"
