#content_header_wrapper
  %h2 Edit Page <b>#{@page.title.humanize}</b>

  - if can?(:destroy, @page) && !@page.new_record?
    %div{:id => "delete_page", :class => "delete"}
      = link_to "Delete Page", [:admin, @page], :confirm => "Are you sure you want to delete the page #{@page.title}", :method => :delete, :class => "action  delete"

#content_inner_wrapper
  = render :partial => "shared/flash_notice"
  = render :partial => "form", :locals => { :page => @page, :button_label => "Update Page"}
