%table{:id => "pages"}
  %thead
    %tr
      %th.bold Title
      %th.bold Status
      %th.bold Delete
  %tbody
  - @pages.each do |page|
    %tr{:id => page.title}
      %td= link_to page.title, edit_admin_page_path(page)
      %td= page.status
      %td.destroy= button_to "delete", admin_page_path(page), :method => :delete, :confirm => "Are you sure you want to delete the page #{page.title}"

%ul#new_layout
  %li= link_to "Add New Pages", new_admin_page_path