- header_content 'shared/header_wrapper', :object => :Page do
  = can_create? Page

- inner_content "shared/inner_wrapper" do
  - if admin?
    = form_tag '/admin/pages/set_state', id: 'publish_all', class: 'site_prop', method: 'post' do
      = submit_tag 'Publish All Pages', name: 'publish', class: 'submit', confirm: 'Are you sure you want to publish all the pages?'
      = submit_tag 'Draft All Pages', name: 'draft', class: 'submit', confirm: 'Are you sure you want to set all pages status to draft?'

  %div.spinner_wrapper
    = image_tag 'ajax-loader.gif', :class => 'spinner hidden'

  - if @root_pages.empty?
    = render :partial => 'add_a_page'
  - else 
    #pages_list
      = render_pages @root_pages 

