= fields_for @page do |page|
  = page.fields_for(:meta_tags, @meta_tag) do |builder|
    %li.meta_tag
      = builder.label :name
      = builder.text_field :name
      = builder.label :content
      = builder.text_field :content
