= fields_for @page do |page|
  = page.fields_for(:meta_tags, @meta_tag) do |builder|
    %li{:id => "meta_tag_#{@meta_tag.id}", :class => "inline meta_tag"}
      = builder.label :name
      = builder.text_field :name
      = builder.label :content
      = builder.text_field :content
      = link_to "Delete", "#", :confirm => "Are you sure you want to delete the meta tag #{meta_tag.name}", :method => :delete, :class => "delete_new_meta_tag"
