%ul.nav-primary
  %li 
    <a href="#{page2.full_path}" class="nav nav-primary-#{page2.title}">#{page2.title}</a>
  %li
    <a href="#{page3.full_path}" class="nav nav-primary-#{page3.title}">#{page3.title}</a>
