%ul{:class => "nav-#{page2.title.downcase.gsub(/\s/, '_')}"}
  %li 
    <a href="#{ page2.full_path }" class="nav nav-#{page2.title}">#{ page2.title }</a>
  %li
    <a href="#{ page3.full_path }" class="nav nav-#{page3.title}">#{ page3.title }</a>
