%ul{:class => "nav_#{page2.title.downcase.gsub(/\s/, '_')}"}
  %li 
    %a{:href => page2.full_path, :id => "#{page2.title.downcase.gsub(/\s/, '_')}" } #{page2.title} 
  %li
    %a{:href => page3.full_path, :id => "#{page3.title.downcase.gsub(/\s/, '_')}" }  #{page3.title}
