%tr{:id => "ac_#{asset_collection.name}", :class => "#{cycle('even', 'odd')}"}
  %td.name= link_to asset_collection.name, [:admin, asset_collection]
  - if can? :destroy, asset_collection
    %td.delete= link_to "Delete", [:admin, asset_collection], :method => :delete, :confirm => "Are you sure you want to delete the asset collection #{asset_collection.name}?", :class => "delete"
