#content_header_wrapper
  %h2 Asset Collections

  - if can? :create, AssetCollection
    %div{:id => "new_asset_collection", :class => "create"}
      = link_to "New Asset Collection", [:new, :admin, :asset_collection], :class => "action"

#content_inner_wrapper
  = render :partial => "shared/flash_notice"

  %table{:class => "info asset_collections"}
    %tr
      %th Asset Collection Name
      %th
    - @asset_collections.each do |collection|
      %tr{:class => "#{cycle('even', 'odd')}"}
        %td.name= link_to collection.name, [:admin, collection]
        - if can? :destroy, collection
          %td.delete= link_to "Delete", [:admin, collection], :method => :delete, :confirm => "Are you sure you want to delete this collection?", :class => "delete"
  
