#manage_collection
  %ul
    %li= link_to "add asset", [:new, :admin, @asset_collection, :site_asset]
    %li= link_to "edit collection properties", [:edit, :admin, @asset_collection]
    %li.delete= link_to "delete collection", [:admin, @asset_collection], :method => :delete, :confirm => "Are you sure you want to delete this collection?", :class => "delete"
  

%div{ :id => "collection_#{@asset_collection.name}"}
  %ul#assets
  - @asset_collection.site_assets.each do |asset|
    %li{ :id => "asset_#{asset.id}" }
      %h5= link_to "#{asset.name}", [:edit, :admin, @asset_collection, asset]
      
      
        
    