- header_content 'shared/header_wrapper', :object => @asset_collection, :show => true do

  = render :partial => 'submenu'
                
      
- inner_content "shared/inner_wrapper" do
  
  %div{ :id => "collection_#{@asset_collection.name}"}
    %ul#assets
      - @asset_collection.site_assets.each do |asset|
        %li{ :id => "asset_#{asset.id}", :class => "show_site_assets" }
          = link_to [:edit, :admin, @asset_collection, asset] do 
            %div.image= image_tag(asset.asset.url)
            %div.figcaption= asset.name
