#content_header_wrapper
  %h2 #{@asset_collection.name.humanize}

  - if can? :create, SiteAsset
    %div{:id => "new_site_asset", :class => "actions" }
      %ul.submenu
        %li.top_menu
          Actions<span class="fold_arrow"></span>
          %ul 
            - if can? :create, @asset_collection
              %li
                = link_to "New Asset", [:new, :admin, @asset_collection, :site_asset]
            - if can? :update, @asset_collection
              %li
                = link_to "Edit Collection Props", [:edit, :admin, @asset_collection]
            - if can? :destroy, @asset_collection
              %li
                = link_to "Delete Collection", [:admin, @asset_collection], :confirm => "Are you sure you want to delete the asset collection #{@asset_collection.name}", :method => :delete
                 
      
#content_inner_wrapper
  = render :partial => "shared/flash_notice"
  
  %div{ :id => "collection_#{@asset_collection.name}"}
    %ul#assets
      - @asset_collection.site_assets.each do |asset|
        %li{ :id => "asset_#{asset.id}", :class => "show_site_assets" }
          = link_to [:edit, :admin, @asset_collection, asset] do 
            %div.image= image_tag(asset.asset.url)
            %div.figcaption= asset.name
