%tr{:id => "#{user.username}", :class => "#{cycle('even', 'odd')}"}
  %td.name= link_to user.full_name, [:edit, :admin, user]
  %td.username= user.username
  %td.role= user.role.capitalize
  - if current_user? user
    %td.delete= link_to "Delete", [:admin, user], :method => :delete, :data => { :confirm => "Are are you sure you want to delete your account?" }
  - else
    %td.delete= link_to "Delete", [:admin, user], :method => :delete, :remote => :true, :data => { :confirm => "Are are you sure you want to delete the user #{user.full_name}?" }

