%li#advanced_fields
  = foldable_fieldset 'Advanced Options' do
    %div.fields_wrap
      %ol
        %li
          = f.label :slug, "Path Name"
          = f.text_field :slug
        %li
          = f.label :tags
          = f.text_field :tags
