%li#advanced_fields
  = foldable_fieldset 'Advanced Options' do
    %div.fields_wrap
      %ol
        %li
          = f.label :permalink
          = f.text_field :permalink
        %li
          = f.label :tags
          = f.text_field :tags
