%li#advanced_fields
  = foldable_fieldset 'Advanced Options' do
    %div.fields_wrap
      %ol
        %li
          = f.label :permalink
          = f.text_field :permalink
        %li
          = f.label :tag_list
          = f.text_field :tag_list
        %li
          = f.label :img_url, "Associated Image URL for Article"
          = f.text_field :img_url
        %li
          %p.label_for Associated Date for Article
          = f.datetime_select :date
        %li.inline 
          = f.label :set_date, "Set the date time for this article"
          = f.check_box :set_date
