%li#article_content_area
  = foldable_fieldset 'Content' do
    %div.fields_wrap
      %ol
        %li.inline
          = f.label :filter_name, "Filter<abbr title='required' class='required'>*</abbr>".html_safe
          = f.collection_select :filter_name, Filter.all, :id, :name, {}, {:class => "page_part_filter"}
        %li#line_wrap_mode.inline
          %p.label_for.mode Line Wrap Mode
          %select.line_wrap
            = grouped_options_for_select({'Line Wrap' => ['No wrap', 'Soft wrap']})
        %li.content
          %p.label_for.ace_label Subheading
          %pre#article_subheading_content= @article.subheading
        %li.content_submit
          = f.label :subheading
          = f.text_area :subheading, :class => "code"
        %li.content
          %p.label_for.ace_label Content
          %pre#article_content= @article.content
        %li.content_submit
          = f.label :content
          = f.text_area :content, :class => "code"
