%li#article_content_area
  = foldable_fieldset 'Content' do
    %div.fields_wrap
      %ol
        %li.inline
          = f.label :filter_name, "Filter<abbr title='required' class='required'>*</abbr>".html_safe
          = f.collection_select :filter_name, Filter.all, :id, :name, {}, {:class => "page_part_filter"}
        %li.content
          %p.label_for.ace_label Content
          %pre#article_content= @article.content
        %li.content_submit
          = f.label :content
          = f.text_area :content, :class => "code"
