%li.article_content_area
  = foldable_fieldset 'Content' do
    %ol.form_fields
      %li.inline
        = f.label :filter_name, mark_required('Filter')
        = f.collection_select :filter_name, Filter.article_filters, :id, :name, {}, {:class => "page_part_filter"}
      %li.content
        = render :partial => 'shared/ace_editor', :locals => { :asset => @article.content, :builder => nil }
      %li.content_submit 
        = f.label :content
        = f.text_area :content, :class => "code"
