%li#general_fields
  = foldable_fieldset 'General' do
    %div.fields_wrap
      %ol
        %li
          = f.label :title, mark_required(:title)
          = f.text_field :title
        %li
          = f.label :subheading, mark_required(:subheading)
          = f.text_field :subheading
        %li{:class => "inline"}
          = f.label "layout_id", "Layout"
          = f.collection_select :layout_id, Layout.all_from_current_site(@current_site), :id, :name, {:include_blank => true}
          %p Leave this blank to use the layout specified in the article collection properties. Selecting a layout will override the layout for the collection.
        = f.fields_for :current_state do |builder|
          %li{:class => "inline"}
            = builder.label "name", mark_required('Status')
            = builder.collection_select :name, CurrentState.all, :id, :name
          %li
            = builder.hidden_field :id
          %li{class: 'inline'}
            = f.radio_button :commentable, 'true'
            = f.label :commentable_true, 'Comments ON for this article'
            = f.radio_button :commentable, 'false'
            = f.label :commentable_false, 'Comments OFF for this article'

