<%= content_for(:title) { "Change your password" } %>
<div id="login_wrapper">
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <fieldset id="password_reset">
      <ul class="reset_fields"
        <li>
          <%= f.hidden_field :reset_password_token %>
          <%= f.label :password, "New password" %>
        </li>
        <li>
          <%= f.password_field :password %></div>
          <%= f.label :password_confirmation, "Confirm new password" %>
        </li>
        <li>
          <%= f.password_field :password_confirmation %></div>
        </li>
        <li>
          <%= f.submit "Change my password" %></div>
        </li>
        <li>
          <%= render :partial => "devise/shared/links" %>
        </li>
      </ul>
    </fieldset>
  <% end %>
</div>
