<%= content_for(:title) { "Login" } %>
<div id="login_wrapper">
  <h2 id="current_site"><%= @current_site.name %></h2>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <fieldset id="login">
      <ol class="login_fields">
        <li>
          <%= f.label :email %>
          <%= f.email_field :email, :tabindex => '1' %>        
        </li>
        <li>
          <%= f.label :password %>
          <%= f.password_field :password, :tabindex => '2' %>
        </li>
        <li>
          <div>
          <%= f.check_box :remember_me %>
          </div>
          <%= f.label :remember_me %>
        </li>
        <li>
          <%= f.submit "Sign In" %>
        </li>
        <li id="forgot">
          <%= render :partial => "devise/shared/links" %>
        </li>
      </ol>
    </fieldset>
  <% end %>
</div>
