= form_for([:admin, @base_class, @meta_tag], :html => { :class => "site_prop", :autocomplete => :off }) do |f|
  = render :partial => "shared/error_messages", :locals => {:target => @meta_tag}
  %ol.form_fields
    = foldable_fieldset 'General' do
      %div.fields_wrap
        %li
          = f.label :name
          = f.text_field :name
        %li
          = f.label :content
          = f.text_field :content
        %li
          = f.submit button_label, :class => "submit"
          = link_to "cancel", [:edit, :admin, @base_class], :class => "cancel"
