= fields_for @base_class do |record|
  = record.fields_for(:meta_tags, @meta_tag) do |builder|
    %li{:class => "inline meta_tag"}
      = builder.label :name
      = builder.text_field :name
      = builder.label :content
      = builder.text_field :content
      %span{ :class => "fake_link delete_new_meta_tag"} Delete
