<%= content_for(:title) { "Forgot your password?" } %>
<div id="login_wrapper">
  <h2 id="current_site"><%= @current_site.name.titleize %></h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>
    <fieldset id="password_reset">
      <legend><span>Password Reset</span></legend>
      <p>Enter your email and we'll email you instructions on how to reset your password.</p>
      <ul class="reset_fields"
        <li>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </li>
        <li>
          <%= f.submit "Send password" %>
        </li>
        <li id="sign_in">
          <%= render :partial => "devise/shared/links" %>
        </li>
      </ul>
    </fieldset>
  <% end %>
</div>
