%h5.author_name= @author.full_name
%p.author_profile= @author.profile
%p.author_image= @author.image
%ul
  %li
    %h5 Author image
    %span= "#{@author.image.file.filename} is available"
    = link_to 'here', "http://#{request.host}#{@author.image.url}"

