= foldable_fieldset 'General' do
  %ol.form_fields
    %li
      = f.label :prefix
      = f.text_field :prefix
    %li
      = f.label :firstname, "Firstname<abbr title='required' class='required'>*</abbr>".html_safe
      = f.text_field :firstname
    %li
      = f.label :middlename
      = f.text_field :middlename
    %li
      = f.label :lastname, "Lastname<abbr title='required' class='required'>*</abbr>".html_safe
      = f.text_field :lastname
    %li
      = f.label :honorific_suffix 
      = f.text_field :honorific_suffix
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :organization
      = f.text_field :organization
    %li
      = f.label :image, "Author Photo"
      = f.file_field :image, :class => "file_field"
      = f.hidden_field :image_cache
    - if !@author.new_record?
      %li 
        %h5 Current Author Image
        %span= "#{@author.image.file.filename} is available"
        = link_to 'here', "#{@author.image.url}"
      %li
        %h5 Current Author Image with MD5 Hash 
        %span= "#{@author.filename_md5} is available"
        = link_to 'here', "#{@author.url_md5}"
    %li
      = f.label :profile
      = f.text_area :profile, :cols => '80'
    %li
      = f.submit button_label, :class => "submit"
      = link_to "Cancel", [:admin, :layouts], :class => "cancel" 
