#admin_nav
  %ul
    %li 
      %h3 SITE MANAGEMENT
    - li_current_page admin_snippets_path do |path|
      = link_to "Pages", path
    - li_current_page admin_snippets_path  do |path|
      = link_to "Media", path
    - li_current_page admin_snippets_path do |path|
      = link_to "Snippets", path
    - li_current_page admin_layouts_path do |path|
      = link_to "Layouts", path
    - li_current_page admin_theme_assets_path do |path|
      = link_to "Theme Assets", path
    - if admin?
      - li_current_page admin_users_path do |path|
        = link_to "User Accounts", path
    - else
      - li_current_page edit_admin_user_path(@current_user.id) do |path|
        = link_to "User Account", path
    - if admin?
      %li= link_to "Site Admin", "#"
