#nav
  %ul
    %li 
      %h3 Site Management 
    %li#pages
      = link_to "Pages", admin_pages_path
    %li#site_assets
      = link_to "Site Assets", admin_asset_collections_path
    %li#snippets
      = link_to "Snippets", admin_snippets_path
    %li#layouts 
      = link_to "Layouts", admin_layouts_path
    %li#theme_assets
      = link_to "Theme Assets", admin_theme_assets_path
    - if admin?
      %li#users
        = link_to "User Profiles", admin_users_path
    - else
      %li#users
        = link_to "Your Profile", edit_admin_user_path(@current_user.id)
    - if admin?
      %li.sites
        = link_to "Site Admin", "#"
