#admin_nav
  %ul
    %li= link_to "Pages", admin_pages_path
    %li= link_to "Site Media", admin_asset_collections_path
    %li= link_to "Snippets", admin_snippets_path
    %li= link_to "Layouts", admin_layouts_path
    %li= link_to "Theme Assets", admin_theme_assets_path
    %li= link_to "Users", admin_users_path
    - if  admin?
      %li= link_to "Site Admin", "#"
