#nav
  %ul
    %li 
      %h3 Site Management 
    %li#pages
      = link_to "Pages", [:admin, :pages]
    %li#site_assets
      = link_to "Site Assets", [:admin, :asset_collections]
    %li#snippets
      = link_to "Snippets", [:admin, :snippets]
    %li#layouts 
      = link_to "Layouts", [:admin, :layouts]
    %li#theme_assets
      = link_to "Theme Assets", [:admin, :theme_assets]
    - if current_admin_user.role?('admin')
      %li#users
        = link_to "User Profiles", [:admin, :users]
    - else
      %li#users
        = link_to "Your Profile", [:edit, :admin, @current_admin_user]
    - if current_admin_user.role?('admin')
      %li.sites
        = link_to "Site Settings", [:edit, :admin, @current_site]
