#admin_nav
  %ul
    %li#pages 
      = link_to "Pages", admin_pages_path
    %li#site_layout
      = link_to "Site Layout", '#'
      %ul
        %li 
          = link_to "Layout", admin_layouts_path 
        %li
          = link_to "CSS & JS", '#'
        %li 
          = link_to "Snippets", '#'
    %li#site_settings
      = link_to "Site Settings", '#'
      %ul 
        - if can? :manage, Site
          %li
            = link_to "Site Setup", '#'
        - if can? :manage, User 
          %li
            = link_to "Users", '#'
        %li
          = link_to "Personal", '#'
