!!!5
%html
  %head{:charset => "UTF-8"}
    %title Etherweb Admin
    = stylesheet_link_tag "screen.css", :media => "screen, projection"
    = stylesheet_link_tag "print.css", :media => "print"
    /[if lt IE 8]
      = stylesheet_link_tag "ie.css", :media => "screen, projection"
   
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "application"
    
    = stylesheet_link_tag "codemirror/codemirror"
    = javascript_include_tag "codemirror/lib/codemirror"
       
    = javascript_include_tag "codemirror/mode/xml/xml"
    = stylesheet_link_tag "codemirror/xml"
    
    = javascript_include_tag "codemirror/mode/javascript/javascript"
    = stylesheet_link_tag "codemirror/javascript"
    
    = javascript_include_tag "codemirror/mode/css/css"
    = stylesheet_link_tag "codemirror/css"

    = javascript_include_tag "codemirror/mode/htmlmixed/htmlmixed"
    
    = csrf_meta_tag
  %body{:id => "layout"}
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"
  #wrapper
    #header
      %h1#site_name
        = link_to "#{Site.first.name.humanize} Site", "/" 
    #nav_wrapper
      = render :partial => "layouts/admin/nav"
    #content
      = yield
    #footer