!!!5
%html
  %head{:charset => "UTF-8"}
    %title= #{Site.first.name} Admin
    = stylesheet_link_tag :master, :media => "screen, projection"
    
   
    = javascript_include_tag :application
    = javascript_include_tag :externals  
    
    = stylesheet_link_tag "markitup/skins/markitup/style.css"
    
    = stylesheet_link_tag "markitup/sets/default/style.css"
    = stylesheet_link_tag "markitup/sets/html/style.css"
    = stylesheet_link_tag "markitup/sets/textile/style.css"
    = stylesheet_link_tag "markitup/sets/markdown/style.css"
    = stylesheet_link_tag "markitup/sets/css/style.css"

    = csrf_meta_tag
  %body{:class => body_id_set}
  #wrapper
    #header
      %h1#site_name
        = link_to "#{Site.first.name.humanize} Site", "/" 
      = render :partial => "layouts/admin/welcome"
    #main
      = render :partial => "layouts/admin/nav"
      #content
        = yield
  #footer
