!!!5
%html
  %head{:charset => "UTF-8"}
    %title Etherweb Admin
    = stylesheet_link_tag "admin/admin"
   
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "application"
    
    = stylesheet_link_tag "codemirror/codemirror"
    = javascript_include_tag "codemirror/lib/codemirror"
       
    = javascript_include_tag "codemirror/mode/xml/xml"
    = stylesheet_link_tag "codemirror/xml"
    
    = javascript_include_tag "codemirror/mode/javascript/javascript"
    = stylesheet_link_tag "codemirror/javascript"
    
    = javascript_include_tag "codemirror/mode/css/css"
    = stylesheet_link_tag "codemirror/css"

    = javascript_include_tag "codemirror/mode/htmlmixed/htmlmixed"
    
    = csrf_meta_tag
  %body
  - flash.each do |name, msg|
    = content_tag :div, msg, :id => "flash_#{name}"
  #wrapper
    #header
      = render :partial => "layouts/admin/nav"
    #content
      = yield