= form_for([:admin, @theme_asset, @tag_attr], :html => { :class => "site_prop", :autocomplete => :off }) do |f|
  = render :partial => "shared/error_messages", :locals => {:target => @tag_attr}
  %fieldset
    %ol.form_fields
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :value
        = f.text_field :value
      %li
        = f.submit button_label, :class => "submit"
        = link_to "cancel", [:edit, :admin, @theme_asset], :class => "cancel"
