= form_for([:admin, media_file], :html => {:multipart => true}) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => media_file }
  %fieldset
    = f.label :name
    = f.text_field :name
  %fieldset
    = f.label :url
    = f.file_field :url
  %fieldset
    = f.label :description
    = f.text_area :description, :cols => "25", :rows => "10"
  %fieldset
    = f.label :alt_text
    = f.text_field :alt_text
  %fieldset
    = f.submit button_label             
