= form_for([:admin, media_file], :html => {:multipart => true}) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => media_file }
  %fieldset
    = f.label :name
    = f.text_field :name
  %fieldset
    = f.label :description
    = f.text_area :description, :cols => "25", :rows => "10"
  - if media_file.new_record?
    %fieldset
      = f.label :media_asset, "Asset Source"
      = f.file_field :media_asset
  - else
    = link_to "The current file is available at #{media_file.media_asset.url}", media_file.media_asset.url
  %fieldset
    = f.label :alt_txt
    = f.text_field :alt_txt
  %fieldset
    = f.submit button_label             
