#media_files
  %ul
    %li#media_files_header
      %div Name
      %div Author
      %div Date
      %div Delete
    - @media_files.each do |media_file|
      %li{ :id => "#{media_file.name}"}
        %div= link_to media_file.name, edit_admin_media_file_path(media_file)
        %div= media_file.created_by.username
        %div.destroy= button_to "delete", admin_media_file_path(media_file), :method => :delete, :confirm => "Are you sure you want to delete #{media_file.name}" 
  

#add_media_file
  %ul#new_media_file
    %li= link_to "Add Media File", new_admin_media_file_path
