%li#theme_asset_file_fields
  = foldable_fieldset 'File' do
    %div.fields_wrap
      %ol.form_fields
        = edit_asset_field
        %li
          %h5 Asset 
          %span= "#{@theme_asset.asset.file.filename} is available"
          = link_to 'here', "http://#{request.host}#{@theme_asset.asset.url}"
        %li
          %h5 Asset with MD5 Hash 
          %span= "#{@theme_asset.filename_md5} is available"
          = link_to 'here', "http://#{request.host}#{@theme_asset.url_md5}"
