#theme_asset_attr{:class => "foldable"}
  %fieldset
    %legend Asset Attributes<span class="fold_arrow rotate"></span>
    %ul.form_fields{:style => "display: none"}
      = f.fields_for :tag_attrs do |builder|
        %li{:id => "theme_asset_#{builder.object.name}", :class => 'inline tag_attributes'}
          = builder.text_field :name
          = builder.label :content
          = builder.text_field :content
          = manage_tag_attr @page, builder.object
      %li#add_element_attribute
        = add_tag_attr 'Save theme asset first to add custom element attributes'
