%ol.form_fields
  %li#submit_fields
  - if @theme_asset.new_record?
    = link_to "back to collection", [:admin, @theme_collection, :theme_assets], class: 'cancel plupload hidden'
    = link_to 'reset form', [:new, :admin, @theme_collection, :theme_asset], class: 'cancel plupload hidden'
    = f.submit button_label, :class => "submit no-plupload"
    = link_to "cancel", [:admin, @theme_collection, :theme_assets], :class => "cancel no-plupload"
  - else
    = f.submit button_label, :class => "submit"
    = link_to "cancel", [:admin, @theme_collection, :theme_assets], :class => "cancel"
