- unless @theme_asset.new_record?
  %li#custom_fields
    = foldable_fieldset 'Theme Asset Custom Fields', :id => 'custom_fields_fieldset' do
      %div.fields_wrap
        %div.spinner_wrapper
          = image_tag 'ajax-loader.gif', :class => 'spinner custom_field_spinner hidden'
        %ol{ :id => 'custom_fields', :class => 'form_fields custom_fields'} 
          = f.fields_for :custom_fields do |builder|
            %li{:id => custom_field_id(builder.object), :class => 'inline custom_field'}  
              = builder.label :name
              = builder.text_field :name
              = builder.label :content
              = builder.text_field :content
              =  link_to "Delete", [:admin, @theme_collection, @theme_asset, builder.object ], :confirm => "Are you sure you want to delete the custom field #{builder.object.name}", :method => :delete, :class => "delete", :remote => true
            = builder_hidden_attribute(builder, @theme_asset)
          %li#add_custom_field
            = add_custom_field 'Save Theme Asset first to add custom fields', @theme_asset, [:new, :admin, @theme_collection, @theme_asset, :custom_field]


