= form_for([:admin, theme_asset], :html => {:multipart => true, :autocomplete => "off"}) do |f|
  = render :partial => "shared/error_messages", 
           :locals => { :target => theme_asset }
  %fieldset
    = f.label :name
    = f.text_field :name
  %fieldset
    = f.label :description
    = f.text_area :description, :cols => "25", :rows => "5"
  - if theme_asset.new_record?
    = render :partial => "new_theme_asset", :object => f, :locals => { :theme_asset => theme_asset }
  - elsif !theme_asset.new_record? && theme_asset.image?
    = render :partial => "image_asset", :object => f, :locals => { :theme_asset => theme_asset }
  - elsif !theme_asset.new_record? && (theme_asset.stylesheet? || theme_asset.javascript?)
    = render :partial => "css_js_asset", :object => f, :locals => { :theme_asset => theme_asset }
  %fieldset
    = f.submit button_label
    = link_to "cancel", [:admin, :theme_assets], :class => "cancel"
    
- if can?(:destroy, theme_asset) && !theme_asset.new_record?    
  %div#delete_asset
    = link_to "Delete Asset", [:admin, theme_asset], :confirm => "Are you sure you want to delete the theme asset #{theme_asset.name}", :method => :delete