%li 
  The current file is available here
  = link_to theme_asset.asset_filename, "http://#{request.host}#{theme_asset.asset.url}"
%li
  = image_asset.label :asset, "Theme Asset Source"
  = image_asset.file_field :asset, :class => "file_field"
  = image_asset.hidden_field :asset_cache
