= foldable_fieldset 'General' do
  %ol.form_fields
    %li.name
      = new_theme_asset.label :name, "Name<abbr title='required' class='required'>*</abbr>".html_safe
      = new_theme_asset.text_field :name
    - if theme_asset.new_record?
      %li
        #uploader
          = new_theme_asset.label :asset, "Asset Source<abbr title='required' class='required'>*</abbr>".html_safe
          = new_theme_asset.file_field :asset, :class => "file_field"
          = new_theme_asset.hidden_field :asset_cache
