= f.fields_for :tag_attrs do |builder|
  %li{:id => "theme_asset", :class => 'inline tag_attributes'}
    = builder.label :name
    = builder.text_field :name
    = builder.label :value
    = builder.text_field :value
  %li= link_to "Add Tag Attribute", [:new, :admin, @theme_asset, :tag_attr]
