= f.fields_for :tag_attrs do |builder|
  %li{:id => "tag_attr_#{builder.object.name}", :class => 'inline tag_attr'}
    = builder.label :name
    = builder.text_field :name
    = builder.label :value
    = builder.text_field :value
    = link_to "Delete", [:admin, @theme_asset, builder.object], :confirm => "Are you sure you want to delete the meta tag #{builder.object.name}", :method => :delete, :class => "delete", :remote => true
%li#add_tag_attr= link_to "Add Tag Attribute", [:new, :admin, @theme_asset, :tag_attr], :remote => true
