- header_content 'shared/header_wrapper', :object => :ThemeAsset do
  = can_create? ThemeAsset

- inner_content "shared/inner_wrapper" do

  - if add_assets?
    = render :partial => 'add_asset'
  - else
    - if @css_files
      = render :partial => 'css_files'  
    - if @js_files
      = render :partial => 'js_files'  
    - if @images
      = render :partial => 'images' 
    - if @other_files
      = render :partial => 'other_files'
