= foldable_fieldset 'General' do
  %ol.form_fields
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :filter_name
      = f.collection_select :filter_name, Filter.all, :id, :name
    %li
      = f.label :content
      = f.text_area :content, :cols => "100", :class => "code"
    %li
      = f.submit button_label, :class => "submit"
      = f.submit "Save and Continue Editing", :class => "submit"
      = link_to "Cancel", [:admin, :snippets], :class => "cancel"
