= foldable_fieldset 'General' do
  %ol.form_fields
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :filter_name
      = f.collection_select :filter_name, Filter.all_filters, :id, :name
    %li.content
      = render :partial => 'shared/ace_editor', :locals => { :asset => @snippet.content, :builder => nil }
    %li.content_submit
      = f.label :content
      = f.text_area :content, :cols => "100", :class => "code"
    %li
      = f.submit button_label, :class => "submit"
      = f.submit "Save and Continue Editing", :name => 'continue', :class => "submit"
      = link_to "Cancel", [:admin, :snippets], :class => "cancel"
