#content_header_wrapper
  %h2 Snippets

  - if admin?
    %div{:id => "new_snippet", :class => "create"}
      = link_to "New Snippet", [:new, :admin, :snippet], :class => "action"

#content_inner_wrapper
  = render :partial => "shared/flash_notice"

  %table{:class => "info snippets"}
    %tr
      %th Snippet Name
      %th
    - @snippets.each do |snippet|
      %tr{:class => "#{cycle('even', 'odd')}"}
        %td.name= link_to snippet.name, [:edit, :admin, snippet]
        - if can? :destroy, snippet
          %td.delete= link_to "Delete", [:admin, snippet], :method => :delete, :confirm => "Are you sure you want to delete the snippet #{snippet.name}", :class => "delete"
