= form_tag("/admin/current_site/#{@current_site.id}/domain_names", :method => :post, :class => 'site_prop', :autocomplete => :off)
%fieldset
  %ol.form_fields
    %li
      = label_tag 'Domain Name'
      = text_field_tag "site[domain_name]"
    %li
      = submit_tag button_label, :class => 'submit'
      = link_to 'cancel', [:edit, :admin, @current_site]
