= form_for([:admin, @current_site], :html => {:class => "site_prop", :autocomplete => :off}) do |f|
  %ol.form_fields
    = render :partial => "shared/error_messages",  
             :locals => { :target => @current_site}
    = render :partial => 'form_site_name', :locals => {:f => f}
    = render :partial => 'form_domains', :locals => {:f => f}
    = render :partial => 'form_meta_tags', :locals => {:f => f}
    = render :partial => 'form_submit', :locals => { :f => f, :button_label => button_label }

