= foldable_fieldset 'Domain', :id => 'domains_fieldset' do
  %div.spinner_wrapper
    = image_tag 'ajax-loader.gif', :class => 'spinner hidden'
  %ul.form_fields
    %li
      = f.label :subdomain
      = f.text_field :subdomain
      %span &#46; #{@current_site.default_domain}
    = render :partial => 'admin/current_site/domains'
