= foldable_fieldset 'Meta Tags' do
  %ul{ :id => 'site_meta_tags', :class => 'form_fields meta_tags'} 
    = f.fields_for :meta_tags do |builder|
      %li{:id => meta_tag_id(builder.object), :class => 'inline meta_tag'}  
        = builder.label :name
        = builder.text_field :name
        = builder.label :content
        = builder.text_field :content
        = manage_meta_tag @current_site, builder.object
    %li#add_meta_tag
      = add_meta_tag 'Save current site first to add custom site wide meta tags', @current_site
