%tr{:id => "site_#{site.name.parameterize('_')}", :class => "#{cycle('even', 'odd')}"}
  - if site == @current_site
    %td.name= link_to site.name, [:edit, :admin, site]
  - else
    %td.name= link_to site.name, request.protocol + site.admin_page_path, :target => '_blank'

  - if can? :destroy, site
    %td.delete= link_to "Delete", [:admin, site], :method => :delete, :data => { :confirm => "Are you sure you want to delete the site #{site.name}" }, :class => "delete"
