= foldable_fieldset 'General' do
  %ol.form_fields
    %li 
      = f.label :name, "Name<abbr title='required' class='required'>*</abbr>".html_safe
      = f.text_field :name
    %li.code_content
      %p.label_for Content
      %pre#layout_content= @layout.content
    %li.code_submit 
      = f.label :content
      = f.text_area :content, :class => "code"
    %li
      = f.submit button_label, :class => "submit"
      = f.submit "Save and Continue Editing", :class => "submit"
      = link_to "Cancel", [:admin, :layouts], :class => "cancel"
