#content_inner_wrapper
  = form_for([:admin, layout], :html => {:class => "site_prop code", :autocomplete => :off}) do |f|
    = render :partial => "shared/error_messages",  
             :locals => { :target => layout }
    %fieldset
      = f.label :name, "Name"
      = f.text_field :name
    %fieldset
      = f.label :content, "Content"
      = f.text_area :content, :class => "code"
    %fieldset 
      = f.submit button_label, :class => "submit ace_submit"
      = f.submit "Save and Continue Editing", :class => "submit"
      = link_to "Cancel", [:admin, :layouts], :class => "cancel"
