= form_for([:admin, layout]) do |f|
  = render :partial => "shared/error_messages",  
           :locals => { :target => layout }
  %fieldset
    = f.label :name, "Name"
    = f.text_field :name, :placeholder => "Layout name..." 
  %fieldset
    = f.label :content, "Content"
    %code.html
      = f.text_area :content, :cols => "50", :rows => "30", :placeholder => "Layout content..."           
  %fieldset 
    = f.submit button_label