#layouts
  %ul
    %li#layout_header
      %div Layout Name
      %div Delete
    - @layouts.each do |layout|
      %li{ :id => "#{layout.name}"}
        %div= link_to layout.name, edit_admin_layout_path(layout)
        %div.destroy= button_to "delete", admin_layout_path(layout), :method => :delete, :confirm => "Are you sure you want to delete the layout #{layout.name}" 
  

#add_layout
  %ul#new_layout
    %li= link_to "Add New Layout", new_admin_layout_path