#content_inner_wrapper
  = form_for([:admin, user], :html => {:class => "site_prop", :autocomplete => :off}) do |f|
    = render :partial => "shared/error_messages",  
             :locals => { :target => user }
    %fieldset
      = f.label :puid, "Partners UID"
      = f.text_field :puid 
    %fieldset
      = f.label :firstname, "Firstname"
      = f.text_field :firstname
    %fieldset
      = f.label :lastname, "Lastname"
      = f.text_field :lastname
    %fieldset
      = f.label :email, "Email"
      = f.email_field :email
    - if admin?
      %fieldset{:id => "role", :class => "radio"}
        = f.label :role
        = f.radio_button :role, 'editor'
        = f.label :editor
        = f.radio_button :role, 'admin'
        = f.label :admin
    %fieldset 
      = f.submit button_label, :class => "submit"
      = link_to "Cancel", admin_users_path, :class => "cancel"
