= form_for([:admin, user]) do |f|
  = render :partial => "shared/error_messages",  
           :locals => { :target => user }
  - if user.new_record? 
    %fieldset
      = f.label :puid, "Partners UID"
      = f.text_field :puid, :placeholder => "Enter Partners UID..."
  - else
    %h5 Partners UID: #{user.puid} 
  %fieldset
    = f.label :firstname, "Firstname"
    = f.text_field :firstname
  %fieldset
    = f.label :lastname, "Lastname"
    = f.text_field :lastname
  %fieldset
    = f.label :email, "Email Address"
    = f.email_field :email, :size => 20 
  - if admin?
    %fieldset#role
      = f.label :role
      = f.radio_button :role, 'editor'
      = f.label :editor
      = f.radio_button :role, 'admin'
      = f.label :admin
  %fieldset 
    = f.submit button_label
    = link_to "cancel", admin_users_path, :class => "cancel"