= foldable_fieldset 'General' do
  %ol.form_fields
    - if admin?
      %li
        = f.label :username, "Username<abbr title='required' class='required'>*</abbr>".html_safe
        = f.text_field :username 
    %li
      = f.label :firstname, "Firstname<abbr title='required' class='required'>*</abbr>".html_safe
      = f.text_field :firstname
    %li
      = f.label :lastname, "Lastname<abbr title='required' class='required'>*</abbr>".html_safe
      = f.text_field :lastname
    %li
      = f.label :email, "Email<abbr title='required' class='required'>*</abbr>".html_safe
      = f.email_field :email
    - if new_password_fields?
      %li
        = f.label :password, "Password<abbr title='required' class='required'>*</abbr>".html_safe
        = f.password_field :password
      %li
        = f.label :password_confirmation, "Password Confirmation<abbr title='required' class='required'>*</abbr>".html_safe
        = f.password_field :password_confirmation
    - elsif can_change_password?
      %li 
        = link_to 'Change Password', change_password_admin_user_path(@user)
    - if admin?
      %li{:id => "role", :class => "inline"}
        %p.label_for Role <abbr title='required' class='required'>*</abbr>
        - User::Roles.each do |role|
          = f.radio_button :role, role.to_s
          = f.label "role_#{role}".to_sym, role.capitalize
    %li
      = f.label :time_zone
      = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Eastern Time (US & Canada)"
    %li
      = f.submit button_label, :class => "submit"
      = link_to "Cancel", [:admin, :users], :class => "cancel"
   
