%ul.form_fields
  - if admin?
    %li
      = f.label :puid, "PUID<abbr title='required' class='required'>*</abbr>".html_safe
      = f.text_field :puid 
  %li
    = f.label :firstname, "Firstname<abbr title='required' class='required'>*</abbr>".html_safe
    = f.text_field :firstname
  %li
    = f.label :lastname, "Lastname<abbr title='required' class='required'>*</abbr>".html_safe
    = f.text_field :lastname
  %li
    = f.label :email, "Email<abbr title='required' class='required'>*</abbr>".html_safe
    = f.email_field :email
  - if new_password_fields?
    %li
      = f.label :password, "Password<abbr title='required' class='required'>*</abbr>".html_safe
      = f.password_field :password
    %li
      = f.label :password_confirmation, "Password<abbr title='required' class='required'>*</abbr>".html_safe
      = f.password_field :password
  - elsif can_change_password?
    %li 
      = link_to 'Change Password', change_password_admin_user_path(@user)
  - if admin?
    %li{:id => "role", :class => "inline"}
      = f.label :role, "Role <abbr title='required' class='required'>*</abbr>".html_safe 
      = f.radio_button :role, 'admin'
      = f.label :admin
      = f.radio_button :role, 'designer'
      = f.label :designer
      = f.radio_button :role, 'editor'
      = f.label :editor

