= form_for([:admin, @user], url: update_password_admin_user_path , :html => {:class => "site_prop", :autocomplete => :off}) do |f|
  = render :partial => 'shared/error_messages', :locals => { :target => @user }

  %fieldset
    = foldable_fieldset 'Change Password' do
      %ul.form_fields
        %li 
          = f.hidden_field :username
          = f.hidden_field :role
        %li
          = f.label :current_password, 'Enter Your Current Password to Confirm Your Changes'
          = f.password_field :current_password
        %li
          = f.label :password, 'New Password'
          = f.password_field :password
        %li
          = f.label :password_confirmation, 'New Password Confirmation'
          = f.password_field :password_confirmation
        %li
          = f.submit button_label, :class => "submit"
          = link_to "Cancel", [:admin, :users], :class => "cancel"
