%table{:id => "users"}
  %thead
    %tr
      %th{:class => "bold"}
  %tbody 
  - @users.each do |user|
    %tr{:id => user.username}
      %td= user.username
      %td= user.role
      %td= link_to "edit", edit_admin_user_path(user)
      %td.destroy= button_to "delete", admin_user_path(user), :method => :delete, :confirm => "Are you sure you want to delete the user #{user.username}" 

- if admin?
  %ul#new_user
    %li= link_to "New User", new_admin_user_path