- header_content 'shared/header_wrapper', :object => :User do
  = can_create? User

- inner_content "shared/inner_wrapper" do

  - if @users.empty?
    %div.add_some
      %h4= link_to "Add A User", [:new, :admin, :user]
  - else 
    %table{:class => "info users"}
      %tr
        %th Name
        %th Partners UID
        %th Role
        %th 
      - @users.each do |user| 
        %tr{:id => "#{user.puid}", :class => "#{cycle('even', 'odd')}"}
          %td.name= link_to user.full_name, [:edit, :admin, user]
          %td.puid= user.puid
          %td.role= user.role.capitalize
          %td.delete= link_to "Delete", [:admin, user], :method => :delete, :remote => :true, :confirm => "Are are you sure you want to delete the user #{user.full_name}?"
