#user
  %table.manage
    %tr
      %td Username
      %td Role
      %td 
    - @users.each do |user|
      %td= link_to user.puid, edit_admin_user_path(user)
      %td= user.role
      - if can? :destroy, user
        %td.delete= link_to "Delete", admin_user_path(user), :method => :delete, :confirm => "Are are you sure you want to delete the user #{user.puid}?"

#add_user
- if admin?
  %ul#new_user
    %li= link_to "New User", new_admin_user_path
