= foldable_fieldset 'General' do
  %ol.form_fields
    - if @site_asset.new_record?
      = render :partial => 'new_site_asset', :object => f
    - else 
      %li
        = f.label :name, "Name"
        = f.text_field :name
      %li
        = f.label :tag_list
        = f.text_field :tag_list
      = render :partial => 'site_asset'
    = render :partial => 'form_submit', :locals => { :f => f, :button_label => button_label }

