#content_header_wrapper
  %h2 Edit Asset #{@site_asset.name.humanize} in the collection #{@asset_collection.name}

  - if can?(:destroy, @site_asset) && !@site_asset.new_record?
    %div{:id => "delete_asset", :class => "delete"}
      = link_to "Delete Asset", [:admin, @asset_collection, @site_asset], :confirm => "Are you sure you want to delete the asset #{@site_asset.name}", :method => :delete, :class => "action delete"

- inner_content "shared/inner_wrapper" do
  = render :partial => "form",
           :locals => { :current_site => @current_site, :asset_collection => @asset_collection, :site_asset => @site_asset, :button_label => "Update Asset" }
