!!! 5
%html
  %head{:charset => "UTF-8"}
    %title= "#{@current_site.name.titleize} - #{yield :title}"|| "MoustacheCMS"
    = stylesheet_link_tag "login"
    = javascript_include_tag "login_focus"
    = csrf_meta_tag
  %body
  - flash.each do |name, msg|
    - unless name == :timedout
      = content_tag :div, msg, :id => "flash_#{name}"
  #wrapper
    = yield
